# Django Settings
SECRET_KEY=
DEBUG=True

# Database Settings
# For Django
DATABASE_URL=postgres://user:password@db:5432/dbname
# For Docker Compose Postgres service
POSTGRES_DB=dbname
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Celery Settings 
CELERY_BROKER_URL = 
CELERY_RESULT_BACKEND = 

# Proxy Settings
USE_PROXY=False
PROXY_URL=socks5://127.0.0.1:1234
